* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', Verdana, Arial, sans-serif;
    color: #5d4038
}

/* MOBILE FIRST (DEFAULT) */
.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "left main"
        "footer footer";
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr 100px;
    min-height: 100vh;
}

/* SECTIONS */
.header {
    grid-area: header;
    background-color: #dcf7a1;
    font-family: 'McLaren';
    height: 100;
    border-bottom: 3px dashed #5d4038;
    align-items: center;
    padding-top: 0.5rem;
}

.left {
    grid-area: left;
}

.sidebar {
    background: #fffcf7;
    padding: 1rem;
    border-right: 3px solid #8d6755;
    z-index: 1;
    overflow-x: hidden;
}

.main {
    grid-area: main;
    padding: 20px;
}

/* HEADER */

.header-container {
    display: grid;
    grid-template-areas:
        "header-left header-right";
    grid-template-columns: 3fr 1fr;
}

.header-left {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.header-left p {   
    font-weight: bold;
    font-size: clamp(25px, 2vw, 2vw);
}

.header-right {
    text-align: right;
    align-items: center;
    padding-right: 3rem;
}

.header-right a{
    text-decoration: none;
    font-size: clamp(15px, 1vw, 1vw);
    color: #5d4038;
}

.header-right a:hover {
    color: #4c802a;
}

.logo {
    max-height: 5rem;
    padding-right: 1rem;
}

/* SIDEBAR */

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 8px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar a {
    font-size: clamp(12px, 1vw, 1vw);
}

.sidebar a:hover {
    color:#8d6755;
    background-color: #ffeaea;
}

.nav-inactive {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #5d4038;
    background-color: #FFFEF6;
    border: 1px solid #5d4038;
    border-radius: 1rem;
    min-height: 2.5rem;
    min-width: 4rem;
}

.nav-active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #5d4038;
    background-color: #ffd6d6;
    border: 1px solid #5d4038;
    border-radius: 1rem;
    min-height: 2.5rem;
    min-width: 4rem;
}

/* INDEX */

.products {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 10px;
    padding: 1rem;
    min-height: 0rem;
    overflow-wrap: anywhere;
}

.product {
    min-width: 0rem;
    min-height: 0rem;
    border: 1px solid #5d4038;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    flex-grow: 10;
    height: 30rem;
}

.product img {
    max-height: 100%;
    height: 20rem;
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
}

.product figcaption {
    padding: 1rem;
    flex-grow: 1;
}

/* ABOUT */

.about-content {
    display: grid;
    grid-template-areas:
        "img desc";
    grid-template-columns: 10rem 1fr;
    padding: 1rem;
}

.about-img {
    grid-area: img;
    max-width: 10%;
}

.about-content img {
    margin: 1rem;
    height: auto;
    width: 10rem;
    border: 2px dotted #8d6755;
}

.about-desc {
    grid-area: desc;
    text-align: justify;
    margin: 1rem;
    padding-right: 1rem;
    padding-left: 3rem;
    max-width: 90%;
}

/* ABOUT */

.about-content {
    display: grid;
    grid-template-areas:
        "img desc";
    grid-template-columns: 10rem 1fr;
    padding: 1rem;
    min-height: 50%;
}

.profile-content {
    padding: 20px;
    text-align: center;
    background-image: radial-gradient(#ffd6d6 5%, transparent 5%),
     radial-gradient(#ffd6d6 5%, transparent 5%);
    background-color: #FFFEF6;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    width: 100%;
}

.profile-box {
    box-sizing: border-box;
	background-color: #fff;
    max-width: 50%;
    margin: auto;
    margin-top: 1rem;
    padding: 4%;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}


profile  {
    min-height: 30vh;
    min-width: 15px;
    max-width: 100%;
    padding: 3%;
    border-radius: 30px;
}

/* CONTACT */

.contact-main {
    grid-area: main;
    padding: 20px;
    text-align: center;
    background-image: radial-gradient(#ffd6d6 5%, transparent 5%),
     radial-gradient(#ffd6d6 5%, transparent 5%);
    background-color: #FFFEF6;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    width: 100%;
}

.contact-box {
    box-sizing: border-box;
	background-color: #fff;
    max-width: 50%;
    margin: auto;
    margin-top: 1rem;
    padding: 4%;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

form  {
    min-width: 15px;
    max-width: 100%;
    padding: 3%;
    border-radius: 30px;
}

.form-item{
    border: 1px solid #ced4da;;
    color: gray;
    font-size: 15px;
	border-radius: 20px;
    margin-bottom: 15px;
    padding: 3%;
    width: 50%;
}

textarea {
    border-radius: 1rem;
}

.button[type="submit"]{
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffd6d6;
    border: 1px solid #5d4038;
    color: #5d4038;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color:  #ffeaea;
}

/* FOOTER */

.footer {
    grid-area: footer;
    background: #5d4038;
    color: white;
    text-align: left;
    padding-top: 0.5rem;
}

.footer-container {
    display: grid;
    grid-template-areas:
        "f-left f-right";
    grid-template-columns: 2fr 1fr;
}

.f-left {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.f-right {
    text-align: right;
    padding-right: 3rem;
}

.f-right p {
    padding-top: 1rem;
    align-items: center;
    color: #8d6755;
}

/* TABLET & UP */
@media (min-width: 768px) {
    .grid-container {
        grid-template-areas:
            "header header header"
            "left main main"
            "footer footer footer";
        grid-template-columns: 180px 1fr;
    }

    .products {
        flex-direction: row;
    }
}

/* DESKTOP & UP */
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 220px 1fr;
    }
    .products {
        flex-direction: row;
    }
}