html {
    max-width: 100%;
    font-family: 'Archivo';
    color: #5d4038;
}

header {
    background-color: #dcf7a1;
    display: flex;
    border-bottom: 3px dashed #5d4038;
}

.logo {
    max-height: 5rem;
}

.container {
    height: 45rem;
    display: flex;
    overflow: auto;
    scrollbar-width: none
}

.navigation {
    padding-top: 2rem;
    background-color: rgb(255, 254, 246);
    width: 15%;
    border-right: 3px solid #8d6755;
    z-index: 1;
    overflow-x: hidden;
}

.nav-inactive {
    max-width: 90%;
    display: block;
    text-decoration: none;
    color: #5d4038;
    border: 1px solid #5d4038;
    margin: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
    text-align: center;
    height: 2rem;
}

.navigation a:hover {
    color:#8d6755;
    background-color: #f4ffad;
}

.nav-active {
    max-width: 90%;
    display: block;
    text-decoration: none;
    border: 1px solid #5d4038;
    color: #5d4038;
    background-color: #dcf7a1;
    margin: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
    text-align: center;
    height: 2rem;
}

.logo {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4.5rem;
}

.contents {
    flex: 1;
    max-width: 85%;
    padding: 2rem;
}

/* index */

.products {
    display: flex;
    max-width: 100%;
    gap: 10px;
    padding-top: 1rem;
}

.product {
    max-height: 30rem;
    border: 1px solid #5d4038;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    flex-grow: 10;
}

.product img {
    max-height: 100%;
    height: 20rem;
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
}

.product figcaption {
    padding: 1rem;
    flex-grow: 1;
}

/* about */

.about-content {
    display: flex;
}

.about-img {
    max-width: 10%;
}

.about-content img {
    margin: 1rem;
    height: auto;
    width: 10rem;
    border: 2px dotted #8d6755;
}

.about-desc {
    text-align: justify;
    margin: 3rem;
    padding-right: 1rem;
    padding-left: 3rem;
    max-width: 90%;
}

/* contact */

.contact-box {
    margin: 2rem;
    padding: 3% 4%;
    text-align: center;
    border: 1px solid #5d4038;
    border-radius: 1rem;
}

form {
    padding: 2rem;
    height: 40%;
}

.form-item {
    border: 1px solid #5d4038;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

textarea {
    border-radius: 1rem;
}

button[type=submit] {
    width: 50%;
    font-family:'Archivo';
    font-size: medium;
    border-radius: 1rem;
    border: 1px, solid #5d4038;
    background-color: #dcf7a1;
    padding: 10px 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    color: #5d4038;
}

button[type="submit"]:hover {
    background-color:  #f4ffad;
}

footer {
    color: white;
    background-color: #5d4038;
    height: 5%;
    padding: 1rem;
    max-width: 100%;
    z-index: 1;
    display: flex;
}

.f-left {
    text-align: left;
    width: 50%;
    padding-left: 1rem;
}

.f-right {
    text-align: right;
    width: 50%;
    padding-right: 1rem;
    color: #8d6755;
}